* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  text-align: center;
}
fieldset {
  width: 40rem;
  margin: 0 auto;
  /*display: inline-block;*/
  /*text-align: center;*/
}
.input-group {
  margin: 0 auto 1rem;
  width: 34rem;
  text-align: right;
}

legend {
  text-align: left;
  margin: 0 0 1rem 0.5rem;
  padding: 0 1rem;
}

label {
  display: inline-block;
  /*text-align: right;*/
  /*width: 14rem;*/
}

input,
select {
  width: 20rem;

}

/*In order to get proper x-axis alignment for the checkbox group, I had to deviate from my default width values for its input and label elements*/
.checkbox-group input {
  text-align: right;
  width: auto;
}

.checkbox-group label {
  text-align: left;
  width: 20rem;
}

.radio-group .input-group {
  display: inline;

}
.radio-group input {
  width: auto;

}
